  /* Site-wide formatting */
  :root {
    font-family: "Averia Serif Libre", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #222222;
    color: #ffffff;
    font-size: 16px;
  }

  div {
      display: block;
  }

  a {
      text-decoration: none;
  }

  body {
    font-size: 16px;
  }

  #page-content, .navbar {
    width: 65%;
    margin: auto;
    padding-bottom: 10px;
  }

  /* Body Rules */
  #page-content {
    font-size: 16px;
  }

  /* Navbar stuff */
  .nav-ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #222222;;
    font-size: 24px;
    font-weight: 400;
  }

  .nav-ul li{
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .nav-ul li a {
    display: block;
  }
  
  .nav-ul li a:hover {
    color: #e7abff
  }

  .nav-li-right {
    float: right
  }

  .nav-li-left {
    float: left
  }

  .nav-link {
    text-transform: none;
  }

  /* Portfolio stuff */
  #portolio-list {
    list-style-type: none;
    padding: 10px 10px;
    overflow: hidden;
    background-color: #333;
    margin: 0 0 3px 0
  }

  .portfolio-item a {
    font-size: 24px
  }

  a:link,
  a:visited,
  a:active
   {
    color: #e7abff
  } 

  a:hover{
    color: white
  } 

  .portfolio-item {
    padding-bottom: 10px;
  }

  /* last.fm widget */
  .nowplayingcard{
    margin: auto
  }