<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Bennett Woods</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">

        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

        <!-- HTMX -->
        <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>

        <!-- clientside -->
        <script type="module" src="/js/main.js"></script>
    </head>  

    <body>
        <header>
            <div class="navbar" hx-get="./navbar.html" hx-trigger="load" hx-swap="outerHTML"></div>
        </header>

        <div id="page-content" hx-get="./home.html" hx-trigger="load" hx-swap="innerHTML"></div>

        <hr>

        <footer>
            <div class="nowplayingcard">
                <div class="nowplayingcontainer-inner">
                    <img id="trackart" src="#">
                    <div class="trackInfo">
                        <a id="tracktitle"></a>
                        <a href="#" id="trackartist"></a>
                    </div>
                </div>
            </div>

        </footer>
    </body>
</html>